<div>
  <div>
    <h1>
      All boards
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new board
    </h2>

    <% if current_user != nil%>
      <form action="/insert_board" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <button>
        Add board
      </button>
    </form>

    <% else %>
     <p>Must be <a href = "/users/sign_in">signed in</a> to add a new board.</p>

    <% end %>
  </div>
</div>

<hr>

<ul>
  <% @list_of_boards.each do |a_board| %>
    <li>
      <a href="/boards/<%= a_board.id %>">
        <%= a_board.name %>
      </a>
      <div>
        <% matching_users = User.where({ :id =>a_board.user_id}) %>
        <% user_email = matching_users.first.email %>
        <%= user_email %>
      </div>
      <hr>
    </li>
  <% end %>
</ul>
